@font-face {font-family: 'iconfont';
    src: url('icon/iconfont.eot'); /* IE9*/
    src: url('icon/iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('icon/iconfont.woff') format('woff'), /* chrome、firefox */
    url('icon/iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url('icon/iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}/*矢量图标声明*/
body{
	margin: 0 auto;
	padding: 0;
	background-image:url(picture/bc2.jpg);
	font-family: "Microsoft YaHei";

}
#ren{
	color: #923232;
}
.whole{
	margin: 0 auto;
	width: 100%;
}
.top{
	margin: 0 auto;
	width: 1080px;
	height: 550px;	
}
.logo{
	margin-top: 20px;
	font-family: Gabriola;
	font-size: 32px;
	margin-left: 20px;
}
.iconfont{
    font-family:"iconfont" !important;
    font-size:40px;font-style:normal;
    color: #923232;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;}
.iconfont1{
	font-family:"iconfont" !important;
    font-size:5px;font-style:normal;
    color: #923232;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
    margin-left: -103px;
}
.name{
	position: relative;
	top: 40px;
	left: -20px;
	width: 300px;
}
.name p{
	float: right;
	font-size: 25px;
	color: #923232;
}
.nav ul{
	list-style-type:none;
    margin-left:236px;
	margin-top: 120px;
}
.nav ul li{
	float:left;
	margin-left:10px;
}
.nav ul li a:link,a:visited{
	font-size: 21px;
	padding:5px;	
	text-decoration:none;
	color: black;
}
.nav ul li a:hover{
	color: #923232;
}
.nav ul li p
{
    display:none;
}
.nav ul li:hover p{
    display:block;
    font-family:Gabriola;
    font-size: 23px;
    color: #923232;
}/*导航栏完*/
.fly1{
	margin-top: -60px;
	margin-left: 28px;
}
.fly2{
	margin-top: -60px;
	margin-left: 15px;
}
.fly3{
	margin-top: -60px;
	margin-left: 23px;
}
.fly4{
	margin-top: -60px;
	margin-left: 8px;
}
.top-right{
	position: relative;
	left: 150px;
}
.top-right a{
	float:left;
	text-decoration: none;
	color:#595959;
	margin-left: 5px;
	width: 80px;
	height:25px;
	background-color: #E4E4E4;
	text-align: center; 
}
.middle{
	width: 880px;
	height: 1000px;	
	margin: 0 auto;
}
#left{
	margin-left: -40px;
	margin-top: 170px;
	height: 670px;
	width:215px;
	background-color: #E9DDCD;
}
.fra{
	width: 180px;
	height: 180px;
	background-color: #FFF7F2;
	margin: 0 auto;
	margin-top: 20px;
}
.fra a{
	position: relative;
	top: 190px;
	left: 72px;
	text-decoration: none ;
	color: #923232;
}
.up1{
	height: 20px;
	background-color: #CEC1B0;
}
.up2{
	height: 20px;
	background-color: #CEC1B0;
}
.up1 p{
	margin-left: 10px;
}
.up1 a{
	text-decoration: none ;
	float: right;
	margin-top: -38px;
	color: #923232;
}
.up2 p{
	margin-left: 20px;
}
.up2 a{
	position:relative;
	top: -38px; 
	text-decoration: none ;
	margin-left: 600px;
	color: #923232;
}
.infor{
	margin-top: 100px;
}
.infor p{
	margin-left: 15px;
	color: #923232;
}
#right{
	margin-left: 190px;
	margin-top: -685px;
	height: 200px;
	width: 700px;
	background-color: #E9DDCD;
}
.bottom{
	margin-left: 190px;
	margin-top: 15px;
	width: 700px;
	height: 455px;
	background-color: #E9DDCD;
}
.c{
	margin: 24px;
	width: 120px;
	height: 120px;
	background-color: #CEC1B0;
	float: left;
}
.d{ 
	position: relative;
	top: 20px;
	width: 700px;
	height: 180px;
	background-color: #CEC1B0;
}
.d p{
	margin-left: 20px;
}
.d a{
	text-decoration: none;
	margin-left: 600px;
    position: relative;
    top: 100px;
}
.d a:hover{
	color: #923232;
}
.y{ 
	position: relative;
	top: 40px;
	width: 700px;
	height: 180px;
	background-color: #CEC1B0;
}
.y p{
	margin-left: 20px;
}
.y a{
	text-decoration: none;
	margin-left: 600px;
    position: relative;
    top: 100px;
}
.y a:hover{
	color: #923232;
}
.iconfont3{
	font-family:"iconfont" !important;
    font-size:15px;font-style:normal;
    color:white;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
    margin-left: 10px;
}
.iconfont3:hover{
	font-size: 13px;
}
